<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" href="../img/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick and Morty</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
    <body>
            <header class="header">
                <div class="logo">
                    <img src="../img/logo.jpg" alt="Rick and Morty">
                </div>
                <nav>
                <ul class="nav-links">
                        <li><a href="Personajes.html">Personajes</a></li>
                        <li><a href="Topcaps.html">Top Capitulos</a></li>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="contacto.html">Contactenos</a></li>
                </ul>            
                </nav>
            </header>
        <!--Personaje 1     """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""       -->   
            <h2 class="h2-mili">Top Capitulos</h2>
            <h3 class="h3-mili">“5-Meeseeks and Destroy”</h3>
            
                <!--   *******************           CAPITULO 1            ****************************          -->
        <div class="container-cap" >    
                <img src="../img/meeseeks.jpg" alt="" class="img-mili"> 
            <div class="content-wrapper">
                <p class="p-ale"> (Temporada 1, Episodio 5): En este episodio, Rick crea un ser llamado Meeseeks, que tiene como objetivo ayudar a Rick y Morty a completar una misión, pero pronto se vuelve loco y comienza a causar problemas.
                </p>
                <a class="Link" href="https://pelisflix2.charity/episodio/rick-y-morty-zzxx-1x6/">“Link”</a>
            </div>
        </div>

                <!-- *******************           CAPITULO 2                    ******************-->

        
                <h3 class="h3-mili">“4-Close Rick-counters of the Rick Kind”  </h3>

        <div class="container-cap" > 

            <img src="../img/C-2.jpg" alt="" class="img-C-2"> 
            <div class="content-wrapper">
                <p class="p-ale"> (Temporada 1, Episodio 10): En este episodio, Rick y Morty viajan a un futuro donde Rick ha muerto y Morty debe encontrar una forma de revivirlo.
                </p>
                <a class="Link" href="https://pelisflix2.charity/episodio/rick-y-morty-zzxx-1x10/">“Link”</a>
            </div>
        </div>

                <!-- *******************           CAPITULO 3                    ******************-->

                <h3 class="h3-mili">“3-The Wedding Squanchers”</h3>

        <div class="container-cap" > 

            <img src="../img/C-2x10.jpg" alt="" class="img-C-2"> 
            <div class="content-wrapper">
                <p class="p-ale"> (Temporada 2, Episodio 10): La trama gira en torno a la asistencia de Rick y Morty a la boda de Birdperson y Tammy, amiga de Beth. Sin embargo, la ceremonia toma un giro inesperado cuando una invasión alienígena irrumpe en la celebración.

                    Rick y Morty se ven obligados a utilizar su ingenio y habilidades para sobrevivir al ataque y salvar el día. En el proceso, descubren un secreto impactante sobre Tammy que pone en riesgo a todos los presentes.
                </p>
                <a class="Link" href="https://pelisflix2.charity/episodio/rick-y-morty-zzxx-2x10/">“Link”</a>
            </div>

        </div>

                 <!-- *******************           CAPITULO 4                    ******************-->

                <h3 class="h3-mili">“2-The Rickshank Rickdemption”</h3>

                <div class="container-cap" > 
        
                    <img src="../img/C-3x1.jpg" alt="" class="img-C-2"> 
                    <div class="content-wrapper">
                        <p class="p-ale"> (Temporada 3, Episodio 1): En este episodio, Rick es arrestado. Morty, junto a Summer y Jerry, emprenden una misión para rescatar a Rick antes de que sea juzgado.es un episodio lleno de acción y emociones que sienta las bases para el resto de la temporada. También se ha convertido en uno de los episodios más populares de la serie.
                        </p>
                        <a class="Link" href="https://pelisflix2.charity/episodio/rick-y-morty-zzxx-3x1/">“Link”</a>
                    </div>
        
                </div>

                 <!-- *******************           CAPITULO 5                   ******************-->

                <h3 class="h3-mili">1-The Ricks Must Be Crazy</h3>

        <div class="container-cap" > 

            <img src="../img/C-2x6.jpg" alt="" class="img-C-2"> 
            <div class="content-wrapper">
                <p class="p-ale"> (Temporada 2, Episodio 6): Otra clase de creación masiva a partir de una minucia. El motor de la nave de Rick deja de funcionar y, mientras que Summer se queda sola viendo como la nave liquida a todo el que se acerca de las formas más crueles posibles, Rick y Morty se adentran en la sociedad en miniatura que sirve de energía al vehículo.
                </p>
                <a class="Link" href="https://pelisflix2.charity/episodio/rick-y-morty-zzxx-2x6/">“Link”</a>
            </div>

        </div>

        <br>



            <footer>
                <div class="container">
                    <div class="footer-content">
                        <h3>Quick Links</h3>
                        <ul class="list">
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="contacto.html">Contact</a></li>
                            <li><a href="Topcaps.html">Top Capitulos</a></li>
                            <li><a href="Personajes.html">Personajes</a></li>
                         </ul>
                    </div>
                    <div class="footer-content">
                        <h3>Follow Us</h3>
                        <ul class="social-icons">
                        <li><a href=""><i class="fab fa-facebook"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        </div>
                </div>
                <div class="bottom-bar">
                    <p>&copy; 2023 your company . All rights reserved</p>
                </div>
            </footer>

                
            <script src="validation.js"></script>

    </body>
</html>